<head>
    <link href="D:\65160186\UX UI\lab12-master\lab12-master\bootstrap-5.0.2-dist\css\bootstrap.min.css" rel="stylesheet">
</head>
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>